@font-face {font-family: "Shree Devanagari 714"; src: url("https://db.onlinewebfonts.com/t/d02befc8fdd8e5315fb21fa7f38fd55a.eot"); src: url("https://db.onlinewebfonts.com/t/d02befc8fdd8e5315fb21fa7f38fd55a.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/d02befc8fdd8e5315fb21fa7f38fd55a.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/d02befc8fdd8e5315fb21fa7f38fd55a.woff") format("woff"), url("https://db.onlinewebfonts.com/t/d02befc8fdd8e5315fb21fa7f38fd55a.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/d02befc8fdd8e5315fb21fa7f38fd55a.svg#Shree Devanagari 714") format("svg"); }

* {
  font-family: 'Ubuntu', sans-serif;
  font-size: 100%;
}

body {
  background-color: #F4F6FA;
  margin: 0;
  padding: 0;
}

#desktop-home-image{
  display:none;
}

.home-greeting {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  color: #223577;
  margin-top:8%;
  margin-left: 9.5%;
}

.home-description {
  font-family: 'Shree Devanagari 714';
  width: 80%;
  height: 12.8%;
  color: #333232;
  font-size: 25px;
  position: relative;
  margin: 0 0 0 9.5%;
}

 /* selector for 'search wrapper' */
#root > div > div:nth-child(2) > form > div > div {
  border-radius: 12px;
  width: 58%;
  height:6.5vh;
  top: 30%;
  margin-left: 9.5%;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
}

/* to fix pop up */
#root > div > div:nth-child(2) > form > div > div > div {
  background-color: white;
  width: 100%;
  border-radius: 12px;
  z-index: 1;
}

 /* selector for 'search input' */
#root > div > div:nth-child(2) > form > div > div > div > input {
  padding: 10px;
}

/*selector for first placeholder */
#root > div > div:nth-child(2) > form > div > div > div > input::placeholder {
  font-size: 21px;
  opacity: 70%;
}

/* selector for second search bar*/
#root > div > div:nth-child(2) > form > input.pac-target-input {
  width: 58%;
  border: 1px solid #dfe1e5;
  outline: none;
  height: 6.5vh;
  border-radius: 12px;
  margin-left: 9.5%;
  margin-top: 3.7vh;
  padding: 13px;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
}

/* selector for second search bar placeholder*/
#root > div > div:nth-child(2) > form > input.pac-target-input::placeholder {
  font-size: 21px;
  opacity: 70%;
}

.submit-btn {
  position: absolute;
  /* top: 34%;
  left: 73%; */
  width: 18%;
  height: 15%;
  background: transparent url('../images/submit-img.svg') 0% 0% no-repeat padding-box;
  margin-left: 5vw;
  border: none;
  outline: none;
}

.pop-jobs-title {
  font-size: 24px;
  font-family: "Shree Devanagari 714";
  font-weight: bold;
  margin-left: 9.5%;
  margin-bottom: 3%;
}

.pop-jobs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 9.5%;
  margin-bottom: 10vh;
}

.pop-job {
  border-radius: 12px;
  background-color: white;
  width: fit-content;
  padding: 5px 7px;
  margin: 5px;
  text-decoration: none;
  color: black;
  font-size: 17px;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
}

@media only screen and (min-width: 750px) {
  /* body{
    background: linear-gradient(90deg, #FFFFFF 62%, #F4F6FA 38%);
  } */

  .home-greeting{
    color:#223577;
    margin-left: 10.1%;
    font-size: 30px;
    margin-top: 5.7%;
    margin-bottom: 1.3%;
  }

  .home-description{
    color:#333232;
    font-size: 300%;
    width:46.7%;
    margin-left: 10.1%;
    margin-top:0;
    font-family: "Shree Devanagari 714";
    line-height: 60px;
    height:fit-content;
  }

  /* to fix popup */
  #root > div > div:nth-child(2) > form > div > div > div > * {
    background-color: white;
    width: 100%;
    border-radius: 12px;
    z-index: 1;
  }

  /* job search wrapper */
  #root > div > div:nth-child(2) > form > div > div{
    width:21.7%;
    margin-left:10.2%;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
    border-radius: 12px;
  }

  /* job search bar */
  #root > div > div:nth-child(2) > form > div > div > div{
    height:6.6vh;
  }
  
  /* job search placeholder */
  #root > div > div:nth-child(2) > form > div > div > div > input{
    font-size:100%;
  }

  /* location search bar */
  #root > div > div:nth-child(2) > form > input.pac-target-input{
    position: relative;
    bottom:7.5vh;
    width:21.7%;
    height:6.6vh;
    margin-left:33.2%;
    opacity: 1;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
    border: 1px solid #DFE1E5;
    outline: none;
    border-radius: 12px;
    margin-bottom: auto;
  }
  
  .search-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  #root > div > div:nth-child(2) > form > input.submit-btn{
    position: relative;
    left: 0;
    margin-left: 24%;
    width:179px;
    height:7vh;
    background: transparent url('../images/desktop-home/desktop-homepage-search-button.svg') 0% 0% no-repeat padding-box;
    padding: 0;
    border: none;
    outline: none;
  }

  /* .submit-btn{
    width:17%;
    height:7vh;
    background: transparent url('../images/desktop-home/desktop-homepage-search-button.svg') 0% 0% no-repeat padding-box;
    padding: 0;
    border: none;
    outline: none;
  } */

  #desktop-home-image{
    position: absolute;
    display:block;
    right:0;  
    top:18%;
    width:28.5%;
  }

  .pop-jobs-title{
    margin-left: 10.1%;
    font-size: 35px;
    font-family: 'Helvetica Neue';
  }

  .pop-jobs-container{
    display: flex;
    flex-wrap:wrap;
    margin-left: 10.1%;
    width:51.2%;
  }

  .pop-job{
    border-radius: 12px;
    background-color: white;
    width: fit-content;
    padding: 10px 14px;
    margin: 5px;
    text-decoration: none;
    color: black;
    font-size: 17px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
  }
}

