@font-face {font-family: "Shree Devanagari 714"; src: url("https://db.onlinewebfonts.com/t/d02befc8fdd8e5315fb21fa7f38fd55a.eot"); src: url("https://db.onlinewebfonts.com/t/d02befc8fdd8e5315fb21fa7f38fd55a.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/d02befc8fdd8e5315fb21fa7f38fd55a.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/d02befc8fdd8e5315fb21fa7f38fd55a.woff") format("woff"), url("https://db.onlinewebfonts.com/t/d02befc8fdd8e5315fb21fa7f38fd55a.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/d02befc8fdd8e5315fb21fa7f38fd55a.svg#Shree Devanagari 714") format("svg"); }

* {
  font-family: 'Ubuntu', sans-serif;
  font-size: 100%;
}

body {
  background-color: #F4F6FA;
  margin: 0;
  padding: 0;
}

#desktop-home-image{
  display:none;
}

.home-greeting {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  color: #223577;
  margin-top:8%;
  margin-left: 9.5%;
}

.home-description {
  font-family: 'Shree Devanagari 714';
  width: 80%;
  height: 12.8%;
  color: #333232;
  font-size: 25px;
  position: relative;
  margin: 0 0 0 9.5%;
}

.search-form {
  display: flex;
  /* align-items: center; */
}

 /* selector for 'search wrapper' */
#home-container > div:nth-child(3) > form > div > div {
  border-radius: 12px;
  width: 50vw;
  height:6.5vh;
  /* top: 30%; */
  margin-left: 9.5%;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
}
/* selector before input for search!! */
.cHDtue {
  height: 6.5vh;
}
.bars-wrapper {
  width: fit-content;
  margin-left: 4.5%;
}
/* to fix pop up */
#home-container > div:nth-child(3) > form > div > div > div {
  background-color: white;
  width: 100%;
  border-radius: 12.5px;
  z-index: 1;
}

 /* selector for 'search input' */
 #home-container > div:nth-child(3) > form > div > div > div > input {
  /* margin-top: 10px; */
  /* min-width: fit-content; */
}

/*selector for first placeholder */
#home-container > div:nth-child(3) > form > div > div > div > div > input::placeholder {
  /* font-size: 21px; */
  opacity: 70%;
}

/* selector for second search bar*/
.pac-target-input {
  width: 50vw;
  min-height: 44px;
  border: 1px solid #dfe1e5;
  outline: none;
  height: 6.5vh;
  border-radius: 12px;
  margin-left: 9.5%;
  margin-top: 6%;
  /* padding: 13px; */
  padding-left: 7%;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
}

/* selector for second search bar placeholder*/
.pac-target-input::placeholder {
  /* font-size: 21px; */
  opacity: 70%;
}

.submit-btn {
  /* position: absolute;
  top: 34%;
  left: 73%; */
  width: 70px;
  height: 62px;
  background: transparent url('../images/submit-img.svg') 0% 0% no-repeat padding-box;
  margin-left: 8%;
  border: none;
  outline: none;
  align-self: flex-end;
  /* z-index: -1; */
}

.pop-jobs-title {
  font-size: 24px;
  font-family: "Shree Devanagari 714" ;
  font-weight: bold;
  margin-left: 9.5%;
  margin-bottom: 3%;
}

.pop-jobs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 9.5%;
  margin-bottom: 10vh;
}

.pop-job {
  border-radius: 12px;
  background-color: white;
  width: fit-content;
  padding: 5px 7px;
  margin: 5px;
  text-decoration: none;
  color: black;
  font-size: 17px;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
}

.desktop-home-footer {
  display:none;
}

@media only screen and (min-width: 750px) {
  /* body{
    background: linear-gradient(90deg, #FFFFFF 62%, #F4F6FA 38%);
  } */

  .home-greeting{
    color:#223577;
    margin-left: 10.1%;
    font-size: 30px;
    margin-top: 5.7%;
    margin-bottom: 1.3%;
  }

  .home-description{
    color:#333232;
    font-size: 300%;
    width:46.7%;
    margin-left: 10.1%;
    margin-top:0;
    font-family: "Shree Devanagari 714";
    line-height: 60px;
    height:fit-content;
  }

  /* to fix popup */
  #home-container > div:nth-child(3) > form > div > div > div > div > * {
    background-color: white;
    border-radius: 12px;
  }

  #home-container > div:nth-child(3) > form > div > div > div {
    max-height: 58px;
  }

  /* job search wrapper */
  #home-container > div:nth-child(3) > form > div > div{
    width:21.7vw;
    max-height: 58px;
    /* margin-left:10.2%; */
    /* box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25); */
    /* height: 48px; */
    border-radius: 12px;
    margin:0;
  }

  .bars-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
    margin: 1% 0 3% 8vw;
  }

  /* job search bar */
  #home-container > div:nth-child(3) > form > div > div > div{
    /* height:6.6vh; */
  }
  
  /* job search placeholder */
  #home-container > div:nth-child(3) > form > div > div > div > input{
    /* font-size:100%; */
  }

  /* location search bar */
  .pac-target-input{
    /* position: relative; */
    /* bottom:7.5vh; */
    width:21.7vw;
    /* height:6.6vh; */
    min-height: 48px;
    max-height: 58px;
    /* margin-left:33.2%; */
    /* opacity: 1; */
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
    margin: 0;
    /* margin-left: 5%; */
    border: 1px solid #DFE1E5;
    outline: none;
    border-radius: 12px;
    padding-left: 2%;
    /* margin-bottom: auto; */
  }
  
  .search-form{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    max-width: 67%;
    /* margin-bottom: 0; */
  }

  .submit-btn{
    /* position: relative;
    left: 0; */
    align-self: center;
    margin: 0;
    width:179px;
    min-height:58px;
    background: transparent url('../images/desktop-home/desktop-homepage-search-button.svg') 0% 0% no-repeat padding-box;
    padding: 0;
    border: none;
    outline: none;
  }

  /* .submit-btn{
    width:17%;
    height:7vh;
    background: transparent url('../images/desktop-home/desktop-homepage-search-button.svg') 0% 0% no-repeat padding-box;
    padding: 0;
    border: none;
    outline: none;
  } */

  #desktop-home-image{
    position: absolute;
    display:block;
    right:0;  
    top:18%;
    width:28.5%;
  }

  .pop-jobs-title{
    margin-left: 10.1%;
    font-size: 35px;
  }

  .pop-jobs-container{
    display: flex;
    flex-wrap:wrap;
    margin-left: 10.1%;
    width:51.2%;
    margin-bottom: 13vh;
  }

  .pop-job{
    border-radius: 12px;
    background-color: white;
    width: fit-content;
    padding: 10px 14px;
    margin: 5px;
    text-decoration: none;
    color: black;
    font-size: 17px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
  }

  .desktop-home-footer {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F4F6FA;
    border: 2px ridge rgba(220,220,220,0.6);
    border-left: none;
    border-right: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: fit-content;
    padding-bottom: 5px;
  }

  .desktop-home-footer > div {
    font-size: 1.5em;
    padding-top: 0.5%;
  }
  .desktop-home-footer > div > div {
    margin-top: 1%;
    display: flex;
    justify-content: center;
  } 
  .desktop-home-footer > div > div > a {
    margin: 0 5%;
  }
}

@media only screen and (min-width: 1600px) {

  #home-container > div:nth-child(3) > form > input.pac-target-input{
    
    bottom:6vh;
    
  }

}

