#jobsearch-container{
  display:none;
}

#display-job{
  display:none;
}

.search-results {
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#back-arrow-container{
  display:flex;
  align-items: center;
}

#mobile-back-arrow{
  margin: 5%;
}

.job-card {
  text-align: center;
  background-color: white;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
  border-radius: 12px;
  width:88%;
  height: 21%;
  margin: 1vh 0;
  overflow:hidden;
}

.job-title{
  font-size: 1.3em;
}

.job-company{
  font-size: 1em;
}

.job-location{
  font-size: 0.9em;
}

.job-description{
  font-size: 0.8em;
}

.job-postDate-seniorityLevel{
  font-size: 0.7em;
  color:grey;
}

.add-job-btn{
  float: right;
  background: url('../images/add-job-btn.svg');
  height:20px;
  width:18px;
  border:none;
  background-repeat: no-repeat;
  margin-right: 5%;
}

.job-list{
  margin-left: 5%;
  text-align: left;
  padding:0;
  max-height: fit-content;
  height: 100%;
  list-style-type: none;
}

.job-list > li{
  padding:5px;
}

#filter-button-container{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

#filter-button-container > button{
  font-size: 18px;
  font-family: 'Shree Devanagari 714', Regular;
  border:1px solid #253cc3;
  border-radius: 12.5px;
  outline:none;
  background-color: #e8effc;
  color: #253cc3;
  padding:6px;
  line-height: 1;
  margin:5px;
}

#filter-button-container > div{
  font-size: 18px;
  font-family: 'Shree Devanagari 714', Regular;
  border:1px solid #253cc3;
  border-radius: 12.5px;
  outline:none;
  background-color: #e8effc;
  color: #253cc3;
  padding:6px;
  line-height: 1;
  margin:5px;
}

#filter-button-container > div > div{
  border:none;
  color: #253cc3;
}

#filter-button-container > div > div > div.react-dropdown-select-content.react-dropdown-select-type-single.css-v1jrxw-ContentComponent.e1gn6jc30 > input::placeholder{
  color:#253cc3;
  font-family: 'Shree Devanagari 714', Regular;
  font-size: 18px;
}

.modal{
  position:sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 90vh;
  background-color: white;
}

.modal-job-title{
  font-size: 1.7em;
  font-family: 'Shree Devanagari 714';
  font-weight: bold;
  overflow-wrap: break-word;
}

.modal-job-company{
  font-family: 'Shree Devanagari 714';
  font-size: 1.5em;
}

.modal-job-location{
  font-family: 'Shree Devanagari 714';
  font-size: 1.4em;
}

.modal-job-description{
  line-height: 1.5;
}

.modal-body{
  max-height: calc(100vh - 35vh); 
  overflow-y: auto; 
  margin: 20px;
}

#close-modal-btn{
  background: url('../images/close-modal-btn.svg');
  background-repeat: no-repeat;
  margin:20px;
  border:none;
  height:20px;
  width:20px;
}

#modal-apply-now-btn{
  /* background: url('../images/modal-apply-now-btn.svg'); */
  background-color: #f06239;
  color:	#fef8f6;
  border:none;
  border-radius: 25px;
  width:75%;
  max-width:302px;
  height:6vh;
  font-size: 1.6em;
  /* margin-left: 11%; */
  font-family: 'Shree Devanagari 714';
  margin: 0;
  position: relative;
  margin-top: 10%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

#all-jobs{
  margin-left: 10%;
  /* width:300px; */
  max-width:400px;
  min-width: 50%;
}

@media only screen and (min-width: 800px) {
   #jobsearch-container{
       background-color: #F4F6FA;
       display:block;
       /* margin-left: 5%; */
       /* margin-right: 50%; */
       margin-top:2%;
       height:10vh;
   }

   .search-results-form{
       display: flex;
   }

   #jobsearch-container > form > div > div{
    width:296px;
    border-radius: 12.5px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
   }

   #jobsearch-container > form > div > div > div > input{
     font-size: 1.1em;
   }

   #search-results-location-input{
    position: relative;
    margin-left: 310px;
    width: 296px;
    border-radius: 12.5px;
    border:none;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
    font-size: 1.1em;
    border: 1px solid #dfe1e5;
    padding-left:1.5%;
   }

   #jobsearch-container > form > input.search-results-submit-btn{
    background-color: #f06239;
    color:	#fef8f6;
    border:none;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
    min-width:179px;
    font-size: 1.6em;
    font-family: 'Shree Devanagari 714';
   }
   
   #search-results-container{
       background-color: white;
   }
   .search-results{
       display: flex;
       flex-direction: column;
   }

   #mobile-back-arrow{
     display:none;
   }

   #back-arrow-container > h4{
    margin-left: 18%;
    font-size: 1.4em;
  }

  .search-results{
    flex-direction: row;
    margin-bottom: 0;
  }

  #display-job{
    display:block;
    align-self: flex-start;
    position: sticky;
    right:10%;
    top:10%;
    width:25%;
    max-height: 80vh;
    height:fit-content;
    border-radius: 12.5px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
    padding:2%;
    overflow-y:auto;
    margin-left: 4%;
  }

  #display-job-title{
    font-size: 1.5em;
    font-family: 'Shree Devanagari 714';
    font-weight: bold;
  }

  #display-job-company{
    font-family: 'Shree Devanagari 714';
    font-size:1.4em;
  }

  #display-job-location{
    font-family: 'Shree Devanagari 714';
    font-size:1.2em;
  }

  #display-job-description{
    line-height: 1.5;
  }

  #display-job-apply-btn{
    background-color: #f06239;
    color:	#fef8f6;
    padding: 7px;
    border:none;
    border-radius: 25px;
    width:75%;
    max-width:302px;
    font-size: 1.6em;
    margin-left: 12.5%;
    max-height: 5vh;
    font-family: 'Shree Devanagari 714'
  }

  #filter-button-container{
    justify-content: space-evenly;
  }

}

@media only screen and (min-width: 1000px) {
  #jobsearch-container{
    margin-left: 17%;
  }


}